<h2>Articles</h2>

<ul class="db-listing">
    {{#each posts}}
        <li class="db-listing_item">
            <a href="blerg/{{slug}}">{{title}}</a> - {{formatDate date}}<br />
            {{subtitle}}
        </li>
    {{/each}}
</ul>
