.db-heading {
    font-family: 'Inconsolata', monospace;
    font-size: 4em;
    font-weight: 700;
    line-height: 1;
    text-transform: lowercase;

    @include bp('small') {
        font-size: 2em;
    }

    &_special {
        font-style: italic;
        color: #f4f;
    }
}