.db-heading {
    font-family: 'Hind', sans-serif;
    font-size: 3em;
    font-weight: 700;
    line-height: 1;

    @include bp('small') {
        font-size: 2em;
    }

    &_special {
        font-style: italic;
        color: #DF3088;
    }
}