.db-header {
    margin: 1em 0;
    font-size: 5em;

    @include bp("small") {
        font-size: 2em;
    }

    &_title {
        display: block;
        font-weight: bold;
        line-height: 1;
        text-decoration: none;
        color: inherit;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}
