a {
    color: inherit;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

pre {
    font-size: 0.8em;
}

code {
    padding: 0 0.25em;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 0.9em;
    color: lighten($COLOR-black, 20%);
    background: darken($COLOR-light-gray, 10%);
}

h1,
h2,
h3,
h4 {
    margin: 1em 0;
    line-height: 1;
}

h2 {
    position: relative;
    margin-bottom: 1.625em;

    &:before {
        content: '';
        position: absolute;
        top: calc(100% + 0.5em);
        width: 2em;
        height: 0.125em;
        background: $COLOR-black;
    }
}
