html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: $COLOR-light-gray;
    font-family: sans-serif;
    font-size: 1.25em;
    line-height: 1.5;
    color: $COLOR-black;

    @include bp("small") {
        font-size: 1em;
    }
}
